h1,h2,h3,h4,h5,h6 {font-family: "Oswald"}
body {font-family: "Open Sans"}
.te {
  text-decoration: none;
  color: white;
  font-weight: 700;
  position: relative;
}

.te::before {
  content: '';
  background-color: grey;
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 2px;
  z-index: -1;
  transition: all .5s ease-in-out;
}

.et:hover {
  bottom: 0;
  height: 100%;
}

.et:before {
  display: grid;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  line-height: 1.5;
  height: 50px;
  place-items: center;
}
.te:hover {
  color: gray;
}